@model IEnumerable<Connection>

@* The Model contains the IEnumerable<Connection> data from the Controller.
   If there is no data, it will give you a tip on how to add a new connection.
*@
@if (Model != null)
{
    <div class="maincontent">
        <div class="clock">
            <div class="clock-face clock-component">
                <div id="hrMarkers" class="hr-markers">
                </div>
                <div id="minMarkers" class="min-markers">
                </div>
            </div>  
            <div class="clock-hands clock-component">
                <div id="hr-hand" class="hand hr-hand"></div>
                <div id="min-hand" class="hand min-hand"></div>
                <div id="sec-hand" class="hand sec-hand">
                    <div class="sec-hand-ball"></div>
                </div>
            </div>
            <div class="pin clock-component"></div>
        </div>
        @* The CSS class capitalise-first makes the value of Viewbag.Stop capitalised.*@
        <h1 class="capitalize-first">@ViewBag.Stop</h1>
        <table id="connections-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Linie</th>
                    <th>Ziel</th>
                    <th>Kante/Perron</th>
                    <th>Abfahrt</th>
                    <th>Hinweis</th>
                </tr>
            </thead>
            <tbody id="connections-tbody" class="@(ConnectionHelper.CountConnections(Model, ViewBag.Limit) > 5 ? "longtable" : "")">
                @* Iterate through the connections in the Model. *@
                @foreach (var connection in ConnectionHelper.RemoveConnections(Model, ViewBag.Limit))
                {
                    <tr>
                        <td><img src="@ConnectionHelper.GetConnectionImage(connection.Type)" class="connection-image"/></td>
                        <td>@connection.Line</td>
                        <td>@connection.Terminal.Name</td>
                        <td>@connection.Track</td>
                        <td>@connection.Time.ToString("HH:mm")</td>
                        <td>@ConnectionHelper.GetConnectionNotice(connection)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p> Keine Verbindungen gefunden.<br> Um neue Verbindungen anzuzeigen, drücken Sie "alt + n"</p>
}
<script src="~/js/site.js"></script>
